<!DOCTYPE html>
<html>
<head>
<title>Principal</title>
<meta charset="UTF-8">
<!-- Le decimos al navegador que nuestra web esta optimizada para moviles -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!-- Cargamos el CSS -->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="css/general.css"/>

<!-- css para drag -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/layout-grid.min.css">

<!-- Cargamos jQuery y materialize js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<!-- drag -->
<script src="js/bootstrap.min.js"></script>
<script src="js/layout-grid.min.js"></script>

<!-- grafica -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />

<script>
 $(document).ready(function () {
            //Menú responsivo
            $(".button-collapse").sideNav();

        });

    </script>

<script type="text/javascript">
  	new Chartist.Line('.ct-chart', {
  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  series: [
    [2, 3, 2, 4, 5],
    [0, 2.5, 3, 2, 3],
    [1, 2, 2.5, 3.5, 4]
  ]
});

</script>    
</head>
<body>
<header class="">
<div class="navbar-fixed">
	<nav id="nav-principal">
	<div id="nav-menu" class="nav-wrapper pink">
		<a href="#" data-activates="nav-lateral" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		<a href="#" class="brand-logo">CD MX</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="taxistas.html">Taxistas</a></li>
			<li><a href="estadisticas.html">Estadisticas</a></li>
			<li><a href="mapas.html">Mapas</a></li>
		</ul>
	</div>

</nav>
</div>
</header>
<main class="z-depth-4">
<div  class="nav-wrapper ">
	<ul class="side-nav fixed grey darken-3" id="nav-lateral">
		<li><a href="plantillas/#" class="waves-effect">Taxistas</a>
		</li>
		<li><a href="plantillas/estadisticas.html" class="waves-effect">Estadisticas</a>
		</li>
		<li><a href="plantillas/mapas.html" class="waves-effect">Mapas</a>
		</li>
		</li>
	</ul>
</div>
<div id="contenedor">
	<div class="container">
		<!-- <div class="row card pink lighten-3 z-depth-3" style="height: 700px;">
			<h3>aqui va el contenido , borrar este div.</h3>
		</div> -->
		 <div
		    data-arrange="lt-grid"
		    class="lt-container
		            lt-xs-h-16
		            lt-sm-h-12
		            lt-md-h-8
		            lt-lg-h-8">
            <div
         		draggable="true"
         		class="lt
                lt-xs-x-0
                lt-xs-y-0
                lt-xs-w-1
                lt-xs-h-1
                lt-sm-x-0
                lt-sm-y-0
                lt-sm-w-1
                lt-sm-h-1
                lt-md-x-0
                lt-md-y-0
                lt-md-w-1
                lt-md-h-1
                lt-lg-x-0
                lt-lg-y-0
                lt-lg-w-1
                lt-lg-h-1">
            	<div class="lt-body bg-info text-center">
                	<!-- <h3>1</h3> -->
                	<div class="ct-chart ct-golden-section"></div>
            	</div>
        	</div>
        	<div
         		draggable="true"
         		class="lt
                lt-xs-x-0
                lt-xs-y-1
                lt-xs-w-1
                lt-xs-h-1
                lt-sm-x-0
                lt-sm-y-1
                lt-sm-w-1
                lt-sm-h-1
                lt-md-x-1
                lt-md-y-0
                lt-md-w-1
                lt-md-h-1
                lt-lg-x-1
                lt-lg-y-0
                lt-lg-w-1
                lt-lg-h-1">
            	<div class="lt-body bg-info text-center">
                	<h3>2</h3>
            	</div>
        	</div>
        </div>
	</div>
	<footer class="page-footer pink darken-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">CGMA</h5>
				<p class="grey-text text-lighten-4">
					 tecnologias de la información
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Citios web</h5>
				<ul>
					<li><a class="white-text" href="http://www.df.gob.mx/ciudad/">Ciudad de México</a></li>
					<li><a class="white-text" href="http://www.df.gob.mx/dependencias/">Gobierno</a></li>
					<li><a class="white-text" href="http://www.transparencia.df.gob.mx/index.jsp">Transparencia</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Contacto</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			 Gobierno <a class="orange-text text-lighten-3" href="http://www.df.gob.mx/"> CD MX</a>
		</div>
	</div>
	</footer>
</div>
</div>
</main>

</body>
</html>