#nav-menu{

}

#nav-principal {


}

#nav-lateral {
top: 65px;
}

#nav-lateral li {
height: 80px;
}

#nav-lateral li a {
color: white;
text-align: center;
font-size: 32px;
    height: 80px;
    
}
#contenedor {
    margin-left: 240px;
}
  @media only screen and (max-width : 992px) {
    #contenedor {
      padding-left: 0;
        margin-left: 0px;
    }
      
  }